<!DOCTYPE html>
<html lang="en"></html>
<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Rail-Mitra</h1>
                            <span class="subheading">Railway Reservation and Tracking</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.india.com/business/irctc-latest-news-indian-railways-cancels-25-trains-passing-through-naini-prayagraj-chheoki-stations-full-list-here-5267465/">
                            <h2 class="post-title">IRCTC Latest News: Indian Railways Cancels 25 Trains Passing Through Naini-Prayagraj Chheoki Stations | Full List Here</h2>
                            <h3 class="post-subtitle">Due to the non-interlocking work, several trains of East Central Railway passing through Naini-Prayagraj Chheoki section have been cancelled and many trains have been diverted, the Railways added.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">India.com</a>
                            on March 26, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://timesofindia.indiatimes.com/videos/news/worlds-highest-chenab-rail-bridge-to-connect-kashmir-with-rest-of-india-by-2022/videoshow/77315358.cms"><h2 class="post-title">World's highest, Chenab rail bridge to connect Kashmir with rest of India by 2022.</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Times of India</a>
                            on March 4, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://pib.gov.in/Pressreleaseshare.aspx?PRID=1637428">
                            <h2 class="post-title">151 Trains proposed to be run by Private operators once the selection process is over, would be OVER and ABOVE the already existing trains</h2>
                            <h3 class="post-subtitle">Ministry of Railways has recently invited Request for Qualifications (RFQ) for private participation for operation of passenger train services over 109 Origin Destination(OD) pairs of routes through introduction of 151 modern Trains (Rakes).</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ministry of Railways</a>
                            on March 4, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.hindustantimes.com/india-news/railways-target-completing-bullet-train-project-by-august-2022/story-cfA3ijBtwo4rONZ18v6HnN.html">
                            <h2 class="post-title">Railways target completing Bullet Train project by August 2022</h2>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Hindustan TImes</a>
                            on December 30, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
       
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>

    </body>
</html>
